.about {
  padding-top: 140px;
  padding-bottom: 120px;
}

.about-list {
  display: flex;
  margin-right: 64px;
  flex-shrink: 0;
}

.about-list__item {
  & + & {
    margin-left: 30px;
  }
}

.about__container {
  display: flex;
}

.about-content__pre-title {
  margin-bottom: var(--typical-margin);
}

.about-content__title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.about-content__after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: var(--typical-margin);
  transition: color $time;
}

.about-content__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-content__btn {
  color: $first-title-color;
}

.about-content__social-list {
  justify-content: flex-start;
}
