.pre-title {
  @include font(11px, 600, 0.1em, 21px);
  text-transform: uppercase;
  @extend %align-list;
  @media screen and (min-width: 768px) {
    @include font(11px, null, null, 15px);
  }
  &::before {
    content: "";
    width: 63px;
    height: 1px;

    margin-right: 21px;
  }
}

.pre-title--color-dark {
  color: #303030;
  &::before {
    background-color: #303030;
  }
}

.pre-title--color-light {
  color: rgba(157, 164, 189, 0.6);
  &::before {
    background-color: rgba(157, 164, 189, 0.6);
  }
}
