@mixin font($fz: 14px, $fw: 500, $ls: 0.03em, $lh: 30px) {
  font-size: $fz;
  font-weight: $fw;
  letter-spacing: $ls;
  line-height: ($lh / $fz);
}

@mixin media($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desk {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
